@model BLOG_APPLICATION.ViewModel.ResetPassword

@{
    ViewData["Title"] = "Reset password";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Reset Password</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for=" Id" />
            <input type="hidden" asp-for="UserName"/>
            <form asp-action="ResetPassword" asp-controller="User">
                <div class="mb-2">
                    <label>UserName</label>
                    <input type="text" asp-for="UserName" class="form-control" disabled/>
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="mb-2">
                    <label>NewPassword</label>
                    <input type="text" asp-for="newPassword" class="form-control" />
                    <span asp-validation-for="newPassword"></span>
                </div>

                <div class="mb-2">
                    <label>ConfirmPassword</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword "></span>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary" >Reset Password</button>
                </div>

            </form>

        </div>
    </div>

</div>
